{% extends 'bootstrap4.html' %}
{% block body %}
<div class="container">
    <h2>Update Student Details</h2>
  <form method="post">
      {% csrf_token %}
    <div class="form-group">
      <label for="tbfname">Fname</label>
      <input type="text" class="form-control" id="tbfname" placeholder="Enter Fname" name="tbfname" value="{{data.fname}}">
    </div>
    <div class="form-group">
      <label for="tblname">Lname</label>
      <input type="text" class="form-control" id="tblname" placeholder="Enter Lname" name="tblname" value="{{data.lname}}">
    </div>
    <div class="form-group">
      <label for="tbemail">Email</label>
      <input type="text" class="form-control" id="tbemail" placeholder="Enter Email" name="tbemail" value="{{data.email}}">
    </div>
    <div class="form-group">
      <label for="tbmobile">Mobile</label>
      <input type="text" class="form-control" id="tbmobile" placeholder="Enter Mobile" name="tbmobile" value="{{data.mobile}}">
    </div>
    <div class="form-outline mb-4">
      <label class="from-label">City</label>
      <select name="ddlcity" class="from-control">
    <option selected>{{data.city_name}}</option>
    {% for i in cities %}
    <option>{{i.city_name}}</option>
    {% endfor %}
</select>
    </div>
    <div class="form-outline mb-4">
      <label class="from-label" >Course</label>
      <select name="ddlcourse" class="from-control">
    <option selected>{{data.course_name}}</option>
    {% for i in course %}
    <option>{{i.course_name}}</option>
    {% endfor %}
</select>
    </div>
       <input type="submit" value="Update Student" class="btn btn-success">
  </form>
  </div>
{% endblock %}
